.html
{
	background: #7F7F7F url("../images/bg.jpg") repeat center center fixed;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 740.5500000000044px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -95px;
	margin-bottom: -2px;
}

#pu323
{
	width: 0.01px;
	left: -1px;
	margin-top: 59px;
	position: relative;
}

#u323
{
	z-index: 178;
	width: 183px;
	margin-right: -10000px;
}

#ppu365
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 183px;
}

#pu365
{
	width: 0.01px;
	position: relative;
}

#u365
{
	z-index: 177;
	width: 842px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u325-4
{
	z-index: 180;
	width: 100px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 185px;
}

#u327-4
{
	z-index: 199;
	width: 10px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 289px;
}

#u326-4
{
	z-index: 191;
	width: 45px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 301px;
}

#u330
{
	z-index: 203;
	width: 230px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 592px;
}

#u364-7
{
	z-index: 184;
	width: 176px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 25px;
}

#u333-4
{
	z-index: 195;
	width: 10px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 175px;
}

#pu1133
{
	width: 0.01px;
	margin-left: 27px;
	position: relative;
}

#u1133
{
	z-index: 2;
	width: 795px;
	margin-right: -10000px;
}

#u1969-4
{
	z-index: 143;
	width: 384px;
	min-height: 32px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 187px;
}

#u1969-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1969
{
	line-height: 35px;
}

#pppu421
{
	width: 0.01px;
	left: -1px;
	margin-top: 10px;
	position: relative;
}

#ppu421
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#pu421
{
	width: 0.01px;
	margin-left: 23px;
	position: relative;
}

#u421
{
	z-index: 148;
	width: 136px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u1235
{
	z-index: 173;
	width: 137px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: -1px;
}

#u416
{
	z-index: 175;
	width: 44px;
	margin-right: -10000px;
	left: 115px;
}

#u422-4
{
	z-index: 149;
	width: 139px;
	min-height: 24px;
	margin-left: 21px;
	margin-top: 16px;
}

#buttonu424
{
	z-index: 153;
	width: 204px;
	padding-bottom: 6px;
}

#buttonu424:hover
{
	margin: 0px;
}

#u426-4
{
	z-index: 154;
	width: 146px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 21px;
}

#buttonu424:hover #u426-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 9px -10000px 0px 0px;
}

#buttonu502
{
	z-index: 158;
	width: 204px;
	padding-bottom: 6px;
}

#buttonu424.ButtonSelected,#buttonu502:hover
{
	margin: 0px;
}

#u504-4
{
	z-index: 159;
	width: 146px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 21px;
}

#buttonu424.ButtonSelected #u426-4,#buttonu502:hover #u504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 9px -10000px 0px 0px;
}

#buttonu508
{
	z-index: 163;
	width: 204px;
	padding-bottom: 6px;
}

#buttonu502.ButtonSelected,#buttonu508:hover
{
	margin: 0px;
}

#u510-4
{
	z-index: 164;
	width: 146px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 21px;
}

#buttonu502.ButtonSelected #u504-4,#buttonu508:hover #u510-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 9px -10000px 0px 0px;
}

#buttonu508.ButtonSelected #u510-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 9px -10000px 0px 0px;
}

#buttonu511
{
	z-index: 168;
	width: 204px;
	padding-bottom: 7px;
}

#buttonu508.ButtonSelected,#buttonu511:hover
{
	margin: 0px;
}

#buttonu511.ButtonSelected
{
	margin: 0px;
}

#u512-4
{
	z-index: 169;
	width: 146px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 21px;
}

#buttonu511:hover #u512-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 8px -10000px 0px 0px;
}

#buttonu511.ButtonSelected #u512-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 8px -10000px 0px 0px;
}

#pu1720
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 483px;
}

#u1720
{
	z-index: 6;
	width: 250px;
	position: relative;
	margin-right: -10000px;
}

#u1745-16
{
	z-index: 56;
	width: 206px;
	min-height: 22px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 264px;
	left: 24px;
}

#u1752-4
{
	z-index: 88;
	width: 206px;
	min-height: 86px;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-weight: bold;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 22px;
}

#u1755-4
{
	z-index: 96;
	width: 206px;
	min-height: 22px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 22px;
}

#u1718
{
	z-index: 4;
	width: 250px;
	position: relative;
	margin-right: -10000px;
	left: 756px;
}

#u1722
{
	z-index: 8;
	width: 250px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 210px;
}

#u1744-16
{
	z-index: 40;
	width: 206px;
	min-height: 22px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 264px;
	left: 232px;
}

#u1791-16
{
	z-index: 72;
	width: 206px;
	min-height: 22px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 264px;
	left: 781px;
}

#u1754-4
{
	z-index: 92;
	width: 206px;
	min-height: 86px;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-weight: bold;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 788px;
}

#u1756-4
{
	z-index: 100;
	width: 206px;
	min-height: 22px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 781px;
}

#slideshowu1797
{
	z-index: 104;
	width: 0.01px;
	height: 212px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 212px;
}

#u1798
{
	position: absolute;
	width: 238px;
	height: 212px;
	background-color: transparent;
}

#u1798popup
{
	z-index: 105;
}

#u1880
{
	z-index: 106;
	width: 238px;
	height: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1894
{
	z-index: 108;
	width: 238px;
	height: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1908
{
	z-index: 110;
	width: 238px;
	height: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1922
{
	z-index: 112;
	width: 238px;
	height: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1936
{
	z-index: 114;
	width: 238px;
	height: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1880_clip,#u1894_clip,#u1908_clip,#u1922_clip,#u1936_clip
{
	overflow: hidden;
	width: 238px;
	height: 212px;
}

#u1880_img,#u1894_img,#u1908_img,#u1922_img,#u1936_img
{
	margin-left: -70px;
	margin-right: -70px;
}

#u1800
{
	position: absolute;
	width: 179px;
	top: 150px;
	left: 67px;
}

#u1800popup
{
	z-index: 116;
}

#u1886-4
{
	z-index: 117;
	width: 159px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #FEFE00;
	padding: 10px;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u1900-4
{
	z-index: 121;
	width: 159px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #FEFE00;
	padding: 10px;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u1914-4
{
	z-index: 125;
	width: 159px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #FEFE00;
	padding: 10px;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u1928-4
{
	z-index: 129;
	width: 159px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #FEFE00;
	padding: 10px;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u1928
{
	font-size: 12px;
}

#u1942-4
{
	z-index: 133;
	width: 159px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: #FEFE00;
	padding: 10px;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1792
{
	z-index: 137;
	width: 250px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 210px;
}

#u1742-4
{
	z-index: 139;
	width: 206px;
	min-height: 22px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 231px;
}

#pbuttonu1724
{
	width: 0.01px;
	left: -1px;
	top: -718px;
	margin-bottom: -718px;
	position: relative;
}

#buttonu1724
{
	z-index: 10;
	width: 98px;
	border-color: #787878;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 262px;
	background: transparent url("../images/game2button.png") no-repeat left top;
}

#buttonu1724.ButtonSelected
{
	margin: 160px -10000px 0px 0px;
	background: transparent url("../images/game1button.png") no-repeat left top;
}

#u1726-4
{
	z-index: 11;
	width: 73px;
	min-height: 9px;
	background-color: transparent;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 13px;
}

#buttonu1724:hover #u1726-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 9px;
	margin: 16px -10000px 0px 0px;
}

#buttonu1727
{
	z-index: 15;
	width: 98px;
	border-color: #787878;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 371px;
	background: transparent url("../images/game2button.png") no-repeat left top;
}

#u1728-4
{
	z-index: 16;
	width: 73px;
	min-height: 9px;
	background-color: transparent;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 13px;
}

#buttonu1724.ButtonSelected #u1726-4,#buttonu1727:hover #u1728-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 9px;
	margin: 16px -10000px 0px 0px;
}

#buttonu1730
{
	z-index: 20;
	width: 98px;
	border-color: #787878;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 855px;
	background: transparent url("../images/game2button.png") no-repeat left top;
}

#buttonu1727:hover,#buttonu1730:hover
{
	margin: 160px -10000px 0px 0px;
	background: transparent url("../images/game3button%20copy.png") no-repeat left top;
}

#u1732-4
{
	z-index: 21;
	width: 73px;
	min-height: 9px;
	background-color: transparent;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 13px;
}

#buttonu1727.ButtonSelected #u1728-4,#buttonu1730:hover #u1732-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 9px;
	margin: 16px -10000px 0px 0px;
}

#buttonu1730.ButtonSelected #u1732-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 9px;
	margin: 16px -10000px 0px 0px;
}

#buttonu1724.ButtonSelected #u1726-4 p,#buttonu1727.ButtonSelected #u1728-4 p,#buttonu1730.ButtonSelected #u1732-4 p
{
	color: #FFFF00;
	visibility: inherit;
}

#buttonu1733
{
	z-index: 25;
	width: 250px;
	border-color: #787878;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 695px;
	left: 210px;
	background: transparent url("../images/button2grey.png") no-repeat left top;
}

#u1735-4
{
	z-index: 26;
	width: 73px;
	min-height: 9px;
	background-color: transparent;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 89px;
}

#buttonu1733:hover #u1735-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 9px;
	margin: 18px -10000px 0px 0px;
}

#buttonu1733:hover #u1735-4 p
{
	color: #353333;
	visibility: inherit;
}

#buttonu1736
{
	z-index: 30;
	width: 250px;
	border-color: #787878;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 695px;
	left: 484px;
	background: transparent url("../images/button2grey.png") no-repeat left top;
}

#u1737-4
{
	z-index: 31;
	width: 73px;
	min-height: 9px;
	background-color: transparent;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 89px;
}

#buttonu1733.ButtonSelected #u1735-4,#buttonu1736:hover #u1737-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 9px;
	margin: 18px -10000px 0px 0px;
}

#buttonu1736:hover #u1737-4 p
{
	color: #353333;
	visibility: inherit;
}

#buttonu1739
{
	z-index: 35;
	width: 250px;
	border-color: #787878;
	padding-bottom: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 695px;
	left: 755px;
	background: transparent url("../images/button2grey.png") no-repeat left top;
}

#buttonu1733:hover,#buttonu1736:hover,#buttonu1739:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	margin: 695px -10000px 0px 0px;
}

#u1741-4
{
	z-index: 36;
	width: 73px;
	min-height: 9px;
	background-color: transparent;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 89px;
}

#buttonu1736.ButtonSelected #u1737-4,#buttonu1739:hover #u1741-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 9px;
	margin: 18px -10000px 0px 0px;
}

#buttonu1739.ButtonSelected #u1741-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 9px;
	margin: 18px -10000px 0px 0px;
}

#buttonu1739:hover #u1741-4 p
{
	color: #353333;
	visibility: inherit;
}

#buttonu1733.ButtonSelected #u1735-4 p,#buttonu1736.ButtonSelected #u1737-4 p,#buttonu1739.ButtonSelected #u1741-4 p
{
	color: #000000;
	visibility: inherit;
}

#u1234
{
	z-index: 147;
	width: 183px;
	height: 838px;
	margin-right: -10000px;
}

#u514
{
	z-index: 205;
	width: 1025px;
	margin-right: -10000px;
	margin-top: 775px;
}

#u335
{
	z-index: 207;
	width: 20px;
	margin-right: -10000px;
	margin-top: 812px;
	left: 736px;
}

#u339
{
	z-index: 209;
	width: 20px;
	margin-right: -10000px;
	margin-top: 812px;
	left: 763px;
}

#u337
{
	z-index: 211;
	width: 20px;
	margin-right: -10000px;
	margin-top: 812px;
	left: 789px;
}

#u341-4
{
	z-index: 213;
	width: 198px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 816px;
	left: 809px;
}

body
{
	padding-top: 35px;
}

#page .verticalspacer
{
	clear: both;
}

