.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.Body-Small
{
	font-family: architects-daughter-n4, sans-serif;
}

#u774-4
{
	font-family: open-sans-n7, sans-serif;
}

#u770-4
{
	font-family: open-sans-n7, sans-serif;
}

#u780-4
{
	font-family: open-sans-n7, sans-serif;
}

#widgetu771_input,#widgetu771_prompt,#widgetu766_input,#widgetu766_prompt,#widgetu776_input,#widgetu776_prompt
{
	font-family: open-sans, sans-serif;
}

