.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.Body-Small
{
	font-family: architects-daughter-n4, sans-serif;
}

#u685-4
{
	font-family: open-sans-n4, sans-serif;
}

#u684-4
{
	font-family: open-sans-n4, sans-serif;
}

#u678-4
{
	font-family: open-sans-n4, sans-serif;
}

#u680-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu681_input,#widgetu681_prompt,#widgetu676_input,#widgetu676_prompt
{
	font-family: open-sans, sans-serif;
}

