.html
{
	background: #7F7F7F url("../images/bg.jpg") repeat center center fixed;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 659.5500000000044px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -176px;
	margin-bottom: -2px;
}

#pu323
{
	width: 0.01px;
	left: -1px;
	margin-top: 140px;
	position: relative;
}

#u323
{
	z-index: 35;
	width: 183px;
	margin-right: -10000px;
}

#ppu365
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 183px;
}

#pu365
{
	width: 0.01px;
	position: relative;
}

#u365
{
	z-index: 34;
	width: 842px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u325-4
{
	z-index: 37;
	width: 100px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 185px;
}

#u327-4
{
	z-index: 56;
	width: 10px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 289px;
}

#u326-4
{
	z-index: 48;
	width: 45px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 301px;
}

#u330
{
	z-index: 60;
	width: 230px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 592px;
}

#u364-7
{
	z-index: 41;
	width: 176px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 25px;
}

#u333-4
{
	z-index: 52;
	width: 10px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 175px;
}

#pu1133
{
	width: 0.01px;
	margin-left: 27px;
	position: relative;
}

#u1133
{
	z-index: 2;
	width: 795px;
	margin-right: -10000px;
}

#u1138-4
{
	z-index: 110;
	width: 384px;
	min-height: 32px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 191px;
}

#u1138-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1138
{
	line-height: 35px;
}

#pppu421
{
	width: 0.01px;
	margin-left: 21px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#ppu421
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#pu421
{
	width: 0.01px;
	margin-left: 2px;
	position: relative;
}

#u421
{
	z-index: 5;
	width: 136px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u1235
{
	z-index: 30;
	width: 137px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: -1px;
}

#u416
{
	z-index: 32;
	width: 44px;
	margin-right: -10000px;
	left: 115px;
}

#u422-4
{
	z-index: 6;
	width: 139px;
	min-height: 24px;
	margin-top: 16px;
}

#u1088
{
	z-index: 62;
	width: 72px;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#u1087
{
	z-index: 64;
	width: 722px;
	border-style: none;
	border-color: transparent;
	background-color: #CCCCCC;
	position: relative;
	margin-right: -10000px;
	left: 261px;
}

#pu1080
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 41px;
}

#u1080
{
	z-index: 69;
	width: 137px;
	position: relative;
}

#u1085-4
{
	z-index: 71;
	width: 127px;
	min-height: 15px;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	color: #353333;
	margin-left: 5px;
	margin-top: 7px;
	position: relative;
}

#u1086
{
	z-index: 75;
	width: 3px;
	height: 222px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 203px;
}

#u1093-15
{
	z-index: 76;
	width: 81px;
	min-height: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 231px;
}

#u1093-2,#u1093-4,#u1093-6,#u1093-8,#u1093-10,#u1093-12
{
	font-size: 12px;
	text-align: right;
	line-height: 23px;
	color: #FFFFFF;
	font-weight: bold;
}

#u1096-17
{
	z-index: 91;
	width: 371px;
	min-height: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 321px;
}

#u1096-2,#u1096-4,#u1096-6,#u1096-8,#u1096-10,#u1096-12,#u1096-14
{
	font-size: 12px;
	text-align: left;
	line-height: 23px;
	color: #353333;
}

#u1078-4
{
	z-index: 65;
	width: 202px;
	min-height: 29px;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
	-webkit-transform: matrix(0,-1,1,0,87,116);
	-ms-transform: matrix(0,-1,1,0,87,116);
	-o-transform: matrix(0,-1,1,0,87,116);
	transform: matrix(0,-1,1,0,87,116);
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 142px;
}

#buttonu424
{
	z-index: 10;
	width: 204px;
	padding-bottom: 6px;
	left: -1px;
	top: -3px;
	margin-bottom: -3px;
}

#buttonu424:hover
{
	margin: 0px 0px -3px;
}

#buttonu424.ButtonSelected
{
	margin: 0px 0px -3px;
}

#u426-4
{
	z-index: 11;
	width: 146px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 21px;
}

#buttonu424:hover #u426-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 9px -10000px 0px 0px;
}

#buttonu502
{
	z-index: 15;
	width: 204px;
	padding-bottom: 6px;
	left: -1px;
}

#buttonu502:hover
{
	margin: 0px;
}

#u504-4
{
	z-index: 16;
	width: 146px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 21px;
}

#buttonu424.ButtonSelected #u426-4,#buttonu502:hover #u504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 9px -10000px 0px 0px;
}

#ppbuttonu508
{
	width: 0.01px;
	left: -1px;
	position: relative;
}

#pbuttonu508
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#buttonu508
{
	z-index: 20;
	width: 204px;
	padding-bottom: 6px;
}

#buttonu502.ButtonSelected,#buttonu508:hover
{
	margin: 0px;
}

#u510-4
{
	z-index: 21;
	width: 146px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 21px;
}

#buttonu502.ButtonSelected #u504-4,#buttonu508:hover #u510-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 9px -10000px 0px 0px;
}

#buttonu508.ButtonSelected #u510-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 9px -10000px 0px 0px;
}

#buttonu511
{
	z-index: 25;
	width: 204px;
	padding-bottom: 7px;
}

#buttonu508.ButtonSelected,#buttonu511:hover
{
	margin: 0px;
}

#buttonu511.ButtonSelected
{
	margin: 0px;
}

#u512-4
{
	z-index: 26;
	width: 146px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 21px;
}

#buttonu511:hover #u512-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 8px -10000px 0px 0px;
}

#buttonu511.ButtonSelected #u512-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 8px -10000px 0px 0px;
}

#u1098
{
	z-index: 108;
	width: 272px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 455px;
}

#u1140-6
{
	z-index: 114;
	width: 184px;
	min-height: 43px;
	text-align: center;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 529px;
}

#u1085,#u1096-9,#u1096-11,#u1096-13,#u1140-3
{
	text-decoration: underline;
}

#pu1234
{
	width: 0.01px;
	left: -1px;
	top: -750px;
	margin-bottom: -750px;
	position: relative;
}

#u1234
{
	z-index: 4;
	width: 183px;
	height: 838px;
	margin-right: -10000px;
}

#u514
{
	z-index: 120;
	width: 1025px;
	margin-right: -10000px;
	margin-top: 775px;
}

#u335
{
	z-index: 122;
	width: 20px;
	margin-right: -10000px;
	margin-top: 812px;
	left: 736px;
}

#u339
{
	z-index: 124;
	width: 20px;
	margin-right: -10000px;
	margin-top: 812px;
	left: 763px;
}

#u337
{
	z-index: 126;
	width: 20px;
	margin-right: -10000px;
	margin-top: 812px;
	left: 789px;
}

#u341-4
{
	z-index: 128;
	width: 198px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 816px;
	left: 809px;
}

body
{
	padding-top: 35px;
}

#page .verticalspacer
{
	clear: both;
}

