.heading1
{
	font-family: montserrat-n4, sans-serif;
}

#u175.PamphletThumbSelected #u269-4 p,#u120.PamphletThumbSelected #u270-4 p,#u270-4
{
	font-family: montserrat-n4, sans-serif;
}

#u269-4
{
	font-family: montserrat-n4, sans-serif;
}

#u184-4
{
	font-family: open-sans-n4, sans-serif;
}

#u185-4
{
	font-family: open-sans-n4, sans-serif;
}

#u190-4
{
	font-family: open-sans-n4, sans-serif;
}

#u189-4
{
	font-family: open-sans-n4, sans-serif;
}

#u211-4
{
	font-family: open-sans-n4, sans-serif;
}

#u210-4
{
	font-family: open-sans-n4, sans-serif;
}

#u213-4
{
	font-family: open-sans-n4, sans-serif;
}

#u214-4
{
	font-family: open-sans-n4, sans-serif;
}

#u217-4
{
	font-family: open-sans-n4, sans-serif;
}

#u218-4
{
	font-family: open-sans-n4, sans-serif;
}

#u221-4
{
	font-family: open-sans-n4, sans-serif;
}

#u222-4
{
	font-family: open-sans-n4, sans-serif;
}

#u225-4
{
	font-family: open-sans-n4, sans-serif;
}

#u226-4
{
	font-family: open-sans-n4, sans-serif;
}

#u256-4
{
	font-family: open-sans-n4, sans-serif;
}

#u257-5
{
	font-family: open-sans-n4, sans-serif;
}

#u262-4
{
	font-family: open-sans-n4, sans-serif;
}

#u261-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu183_input,#widgetu183_prompt,#widgetu188_input,#widgetu188_prompt,#widgetu208_input,#widgetu208_prompt,#widgetu212_input,#widgetu212_prompt,#widgetu216_input,#widgetu216_prompt,#widgetu220_input,#widgetu220_prompt,#widgetu224_input,#widgetu224_prompt,#widgetu255_input,#widgetu255_prompt,#widgetu260_input,#widgetu260_prompt
{
	font-family: open-sans, sans-serif;
}

